@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/playmegames');
@import url('https://fonts.cdnfonts.com/css/tourney');
@import url('https://fonts.cdnfonts.com/css/tilt-prism');
@import url('https://fonts.cdnfonts.com/css/major-birch');


body{
 background-color:black;
 
}
 
@layer base {
}

@layer components{

a{
  color:red;
}
  h1{
    color:rgb(240, 236, 238);
  }
  .nav{
    background:linear-gradient(to right, purple, rgb(112, 203, 231));
      }
  .home{
    
background-color: whitesmoke;

  }
  
}