@tailwind base;
@tailwind components;
@tailwind utilities;



body{
 background-color:whitesmoke;
 
}


@layer components{

a{
  color:red;
}
  h1{
    color:rgb(240, 236, 238);
  }
  .nav{
    background:linear-gradient(to right, purple, rgb(112, 203, 231));
      }
  .home{
    
height:100vh;

  }
  
}